@import "flex";

body,html{
	background: #19D2B3;
	// height: 100%;
	// overflow: hidden;
}

header{
	height: 50px;
	width: 90%;
	border-bottom:1px solid #efefef; 
	left: 5%;
	position: fixed;
	a{
		padding: 0 10px;
		color: #fff;
	}
}
main{
	@include calc(height, "100% - 80px");
	height: 4000px;
	overflow: scroll;
	span#navContent{
			color: #fff;
			font-size: 130%;
			position: fixed;
			bottom: 25px;
			text-align: center;
		}
	#screen{
		width: 600px;
		height: 400px;
		position: fixed;
		top: 20%;
		left: 50%;
		margin-left: -300px;
		border-radius: 2px;
		overflow: hidden;
		img{
			@include transform(scale(0));
			display: none;
		}
		#content{
			// font-family: 'Pacifico', cursive;
			font-family: 'Montez', cursive;
			font-size: 280%;
			margin: 40px 0px;
			color: #fff;
			text-shadow: 1px 2px 3px darken(yellow,10%);
		}
		.fillin{
			background: #efefef;
			border-radius: 2px;
			width: 80%;
			height: 60%;
			@include transform(scale(0));
		}
		div{
			margin: 5px;
			.hide{
				display: none;
				opacity: 0;
			}
		}
		#paper{
			width: 200px;
			height: 270px;
			background: #fff;
			.fillin{
				height: 90%;
			}
		}
		.vc{
			width: 100px;
			height: 50px;
			background: #fff;
			&.back{
				.fillin{
					height: 10%;	
				}
			}
		}
		.note{
			width: 120px;
			height: 180px;
			background: lighten(#947513,5%);
		}
		.cdc{
			width: 100px;
			height: 100px;
			background: #fff;
			z-index: 100;
			box-shadow: 1px 0 3px 0px #aaa;
			.fillin{
				height: 70%;
				width: 70%;
				border-radius: 100%;
			}
		}
		.cover{
			height: 70px;
			width: 150px;
			background: #fff;
			position: relative;
			&:before{
				content: "";
				float: left;
				width: 50%;
				border: 1px solid #ccc;
				@include transform(rotate(40deg));
				position: absolute;
				top: 0;
			}
		}
		.cd{
			width: 90px;
			height: 90px;
			border-radius: 90px;
			margin-left: -60px;
			margin-top: 10px;
			background: #fff;
			.notch{
				width: 15px;
				height: 15px;
				border-radius: 30px;
				background: #00FFD5;
				outline: 1px solid #fff;
				border: 1px solid #00ffd5;
			}
		}
		// img{
		// 	position: absolute;
		// }
		// #paper{
		// 	left: 50%;
		// 	margin-left: -80px;	
		// 	bottom: 0;
		// }
		// #cd{
		// 	right: 15px;
		// 	top: 120px;
		// }
		// #cdcover{
		// 	right: 85px;
		// 	top: 120px;
		// }
		// #notepad{
		// 	bottom: 0px;
		// 	left: 97px;
		// }
		// #vc1{
		// 	bottom: 0;
		// 	left:13px;
		// }
		// #vc2{
		// 	bottom: 55px;
		// 	left:13px;
		// }
		// #env{
		// 	right: 0;
		// 	top: 200px;
		// }
		// #envc{
		// 	right: 0;
		// 	top: 300px;
		// }
		.content{
			background: #b2b2b2;
			border-radius: 2px;
			&.card{
				
			}
		}
	}
	nav{
		width: 600px;
		height: 600px;
		border-radius: 600px;
		border: 2px solid #fff;
		position: fixed;
		left: 50%;
		margin-left: -300px;
		bottom: 10px;
		top: 80%;
		@include transition(all 0.5s);
		
		a{
			height: 100px;
			width: 100px;
			border-radius: 100px;
			border: 2px solid #fff;
			background: #00FFD5;
			position: absolute;
			color: #fff;
			font-size: 18px;
			text-shadow: 1px 2px 3px darken(yellow,30%);
			&#one{
				left: 50%;
				margin-left: -50px;
				top: -50px;
			}
			&#two{
				right: 0px;
				top: 15%;	
			}
			&#three{
				top: 60%;
				right: -30px;
			}
			&#four{
				top: 90%;
				right: 200px;
			}
		}
	}
}

#contact{
	margin-top: 100px;
	padding: 50px 0px;
	height: 80%;
	background: darken(#00FFD5,3%);
	z-index: 1000;
	position: relative;
	overflow: hidden;
	span.tag{
		font-size: 150%;
		margin: 50px 0;
		color: #fff;
	}
	img{
		position: absolute;
		top: 0;
		left: 0;
		@include filter(blur(5px));
	}
	form{
		background: rgba(0,0,0,0.5);
		padding: 30px;
		position: relative;
	}
	button{
		background: darken(#00FFD5,20%); 
		color: #fff;
		font-size: 14px;
		margin: 25px 0;
		border: 2px solid lighten(#00FFD5,5%);
	}
	label{
		margin: 15px 0 7px 0;
		color: #fff;
	}
	h1{
		font-size: 150%;
		padding: 0 0 50px;
		color: #fff;
		font-weight: 600;
	}
	input{
		width: 350px;
		padding: 10px 5px;
		background: #fff;
		border: 1px solid #efefef;
		border-radius: 2px;
	}
}


.intro{
	@include animation(intro 0.5s);
	@include animation-fill-mode(forwards);
}
.fillin{
	&.intro{
		opacity: 1;
		@include transition(all 0.2s);
		@include animation(intro 0.5s); 
		@include animation-fill-mode(forwards);
	}
}


	.fadeOut{
		// @include animation(fadeOutIn 0.5s once);
		// @include animation-fill-mode(forwards);
		@include transform(scale(0));
		@include transition(all 0.3s);
	}


@include keyframes(intro){
	0%{
		@include transform(scale(0));
	}
	50%{
		@include transform(scale(1.1));
	}
	80%{
		@include transform(scale(0.9));
	}
	100%{
		@include transform(scale(1));
	}
}

