.fl {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.ac {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }

.ar {
  -webkit-box-align: end;
  -moz-box-align: end;
  box-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
  -ms-flex-align: end; }

.jc {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.jr {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end; }

.eg {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1; }

.flc {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column; }

.flw {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

@font-face {
  font-family: "avenir";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/avenirnext.otf.eot?#iefix") format("embedded-opentype"), url("../fonts/avenirnext.otf.woff2") format("woff2"), url("../fonts/avenirnext.otf.woff") format("woff"), url("../fonts/avenirnext.otf.ttf") format("truetype"), url("../fonts/avenirnext.otf.svg#avenir") format("svg"); }
body, html {
  font-family: 'avenir', sans-serif;
  font-size: 14px;
  width: 100%;
  background-image: -webkit-radial-gradient(circle, #6170A9, #1F2848);
  background-image: radial-gradient( circle, #6170A9, #1F2848); }

.fw {
  width: 100%; }

a {
  text-decoration: none; }

button {
  background: transparent;
  border: none;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  font-family: 'avenir', sans-serif;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  button:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  button.ghost {
    border: 2px solid; }

@font-face {
  font-family: "db";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/db.eot?#iefix") format("embedded-opentype"), url("../fonts/db.woff2") format("woff2"), url("../fonts/db.woff") format("woff"), url("../fonts/db.ttf") format("truetype"), url("../fonts/db.svg#db") format("svg"); }
@font-face {
  font-family: "photocab";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/photocab.eot?#iefix") format("embedded-opentype"), url("../fonts/photocab.woff2") format("woff2"), url("../fonts/photocab.woff") format("woff"), url("../fonts/photocab.ttf") format("truetype"), url("../fonts/photocab.svg#photocab") format("svg"); }
bg {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  transition: all 0.8s; }

content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; }

header {
  position: relative;
  height: 120px;
  width: 80%; }
  header nav a {
    color: #fff;
    padding: 0 15px; }

main {
  min-height: 660px;
  overflow: scroll;
  width: 100%;
  position: relative; }
  main #co {
    height: 670px;
    width: 100%;
    color: #fff;
    margin-top: 50px; }
    main #co h1 {
      font-size: 380%;
      padding: 25px 0;
      font-family: "photocab";
      text-shadow: 1px 2px 0 #000; }
    main #co h2 {
      font-size: 150%;
      font-family: "db";
      letter-spacing: 1px;
      color: #E6AD62; }
    main #co #scroll {
      margin-top: 15%;
      font-size: 110%; }
  main #callback {
    height: 100px;
    width: 100%;
    background: rgba(84, 80, 80, 0.71);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    z-index: 100; }
    main #callback.fixed {
      position: fixed;
      bottom: 0; }
    main #callback form span {
      margin: 20px 0 15px;
      font-size: 150%;
      text-shadow: 1px 1px 0 #000; }
    main #callback form input {
      width: 400px;
      padding: 15px 10px;
      border: 1px solid #fff;
      border-radius: 3px;
      background: transparent;
      color: #fff;
      font-size: 110%;
      margin: 0 20px; }
    main #callback form button {
      padding: 10px 15px;
      margin: 30px 0;
      background: #18A8AF;
      border: 2px solid #127d82;
      border-radius: 2px;
      font-size: 108%;
      color: #fff; }
  main #about {
    width: 100%;
    height: 720px;
    background: rgba(255, 0, 0, 0.6);
    color: #fff; }
    main #about h1 {
      padding: 50px;
      margin: 50px 0;
      font-size: 180%; }
    main #about p {
      line-height: 2em;
      width: 60%;
      font-size: 120%; }
  main #services {
    background: #1cb2b5;
    width: 100%;
    height: 720px;
    color: #fff; }
    main #services .cont {
      height: 400px;
      overflow: scroll;
      width: 40%;
      margin: 0 0 20px; }
      main #services .cont .c {
        width: 450px;
        padding: 20px;
        height: 450px; }
        main #services .cont .c .head {
          font-size: 150%;
          padding: 20px 0; }
        main #services .cont .c p {
          line-height: 2em; }
    main #services #sc {
      position: relative; }
    main #services nav {
      width: 500px;
      height: 500px;
      border-radius: 500px;
      border: 1px solid #efefef;
      right: -300px;
      top: -50px;
      position: absolute; }
      main #services nav a {
        height: 70px;
        width: 70px;
        border-radius: 200px;
        border: 1px solid #ccc;
        margin: 20px 0;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s; }
        main #services nav a.active {
          height: 100px;
          width: 100px;
          border-color: #fff; }
    main #services.fixed {
      position: fixed;
      top: 60px;
      left: 0; }
    main #services h1 {
      font-size: 180%;
      padding: 50px;
      margin: 25px 0; }
  main #contact {
    height: 720px;
    width: 100%;
    background: transparent;
    color: #fff; }
    main #contact h1 {
      font-size: 150%;
      padding: 50px 0;
      margin: 0 0 20px; }
    main #contact form span {
      margin: 20px 0 10px; }
    main #contact form input {
      width: 450px;
      padding: 15px 10px;
      border: 1px solid #fff;
      background: transparent; }
    main #contact form button {
      padding: 15px 10px;
      font-size: 110%;
      margin: 30px 0;
      background: #18A8AF;
      border: 2px solid #127d82;
      color: #fff; }

#banner {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 180%;
  font-weight: 400;
  opacity: 0;
  text-shadow: 1px 2px 0 #000; }

.fadeIn {
  -webkit-animation: fadeIn 0.5s ease-in;
  -moz-animation: fadeIn 0.5s ease-in;
  animation: fadeIn 0.5s ease-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.fadeOut {
  -webkit-animation: fadeOut 0.5s ease-in;
  -moz-animation: fadeOut 0.5s ease-in;
  animation: fadeOut 0.5s ease-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  display: none; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    margin-top: 0; }
  to {
    opacity: 0;
    margin-top: -10px; } }
@-moz-keyframes fadeOut {
  from {
    opacity: 1;
    margin-top: 0; }
  to {
    opacity: 0;
    margin-top: -10px; } }
@keyframes fadeOut {
  from {
    opacity: 1;
    margin-top: 0; }
  to {
    opacity: 0;
    margin-top: -10px; } }

/*# sourceMappingURL=style.css.map */
