body,html{
	width: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

.fw{
	width: 100%;
}
.indie{
		font-family: 'Indie Flower', cursive;
}

button{
	background: transparent;
	border: none;
	padding: 10px 15px;
	@include transition(all 0.1s);
	&:focus{
		outline: none;
	}
	&:active{
		@include transform(translateY(2px));
	}
}

input[type = "checkbox"].hide{
	display: none;
}